{% extends 'retailermain.html' %}
{% load static %}
{% block content %}


<br>
<br>
<br>
<br>
<div class="body">
    <div class="table-responsive">
        <table class="table table-striped m-b-0">
            <thead>
                <tr>
                    <th>Payment Id</th>
                    <th>Order Id</th>
                    <th>Payment Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    {% for i in r_product %}
                    <td>{{i.id}}</td>
                    <td>{{i.productname}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.price}}</td>
                    <td>{{i.quantity}}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>



{% endblock %}