<html>
<head>
    <title>Callback</title>
</head>
<body>
    <h2>Callback Messsage: </h2>                    <br><br>
    <h3> Checksum Verification: {{ message }} </h3> <br><br>
    MID: {{ MID }}                                  <br><br>
    TXNID: {{ TXNID }}                              <br><br>
    ORDERID: {{ ORDERID }}                          <br><br>
    BANKTXNID: {{ BANKTXNID }}                      <br><br>
    TXNAMOUNT: {{ TXNAMOUNT }}                      <br><br>
    CURRENCY: {{ CURRENCY }}                        <br><br>
    <a href="{% url 'login' %}">Back to home page</a>
</body>
</html>