{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="page-title-area">
<div class="container">
<div class="page-title-content">
<h1>Password</h1>
<ul>
<li><a href="{% url 'index' %}">Home</a></li>
<li>New password</li>
</ul>
</div>
</div>
</div>


<div class="profile-authentication-area ptb-100">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-12">
<div class="login-form">
{% if msg %}
<div class="alert alert-danger" role="alert">
  {{msg}}
</div>
{% endif %}
<form  action="{% url 'changenewpassword' %}" method="POST" >
{% csrf_token %}
<div class="form-group">
  <label>Email</label>
  <input type="text" value="{{email}}" class="form-control" readonly name="email">
  </div>
<div class="form-group">
    <label>OTP</label>
    <input type="number" name="otp" class="form-control" placeholder="Enter otp">
    </div>
<div class="form-group">
<label>New password</label>
<input type="password" name="password" class="form-control" placeholder="Enter new password">
</div>
<div class="form-group">
<label>Confirm Password</label>
<input type="password" name="confirmpassword" class="form-control" placeholder="Enter confirm Password">
</div>

<button type="submit">Change Password</button>
</form>
</div>
</div>

</div>
</div>
</div>


{% endblock %}