{% extends 'adminmain.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">                
                <div class="row clearfix">
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="body">
                <h3 class="number count-to m-b-0" data-from="0" data-to="{{data.total_customer}}" data-speed="2500" data-fresh-interval="700">1600 <i class="zmdi zmdi-trending-up float-right"></i></h3>
                <p class="text-muted">Customers</p>   
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="body">
                <h3 class="number count-to m-b-0" data-from="0" data-to="{{data.total_retailer}}" data-speed="2500" data-fresh-interval="1000">3218 <i class="zmdi zmdi-trending-up float-right"></i></h3>
                <p class="text-muted">Retailers</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="body">
                <h3 class="number count-to m-b-0" data-from="0" data-to="{{data.total_doctor}}" data-speed="2500" data-fresh-interval="1000">284 <i class="zmdi zmdi-trending-up float-right"></i></h3>
                <p class="text-muted">Doctors </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
